.navbar {
  background-color: #182628 !important;
  .navbar-brand {
    font-size: 1.6rem;
    font-weight: bold;
    color: #65CCB8;
    font-style: italic;
    font-family: "Franklin Gothic Medium";
  }
  a{
    color: #65CCB8;
    font-weight: bold;
    font-size: 1.1rem;
  }
}
